@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}

.map-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  z-index: 0;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}
